<div class="d-flex align-center mt-3">
    <div class="mr-2">
        #include("web/img/overops-logo.svg")
    </div>
    <h1>Quality Report</h1>
</div>

#if ($model.isHasException())
    #parse("template/exception.vm")
#else
    #parse("template/report.vm")
#end